<% if @itinerary.approved? %>
  Your current "plans" 
<% else %>
  Please review and approve the itinerary
<% end %>
<% @itinerary.stops.each_with_index do |stop, index| %>
    <div class="note">
        <p><%= "Stop #{index + 1}" %></p>
    </div><!--/note-->

    <div class="checkin">
        <div class="title">
            <h2><%= stop.name %></h2>
        </div><!--/title-->
        <div class="content">
		<p><%= stop.shout %></p>
        </div><!--/content-->
    </div><!--/checkin-->
<% end %>
    <% unless @itinerary.approved? %>
    <%= form_for @itinerary, :url => itinerary_path(@itinerary.to_s) do |f| %>
      <%= f.hidden_field(:approved, :value => "1") %>
      <%= f.submit({ :value => "Let's Do This!",  :class => 'btn' })  %>
    <% end %>

    <p class="cancel"><%=link_to "Not Feeling it?",edit_itinerary_path(@itinerary.to_s)%> </p>
      <%end%>